# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native build artifacts
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# TypeScript
*.tsbuildinfo

# Env files
.env
.env.local
.env*.local

# macOS
.DS_Store
*.pem

# Logs
*.log
